* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #548687;
}

.game {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 2rem;
}

.game h1 {
  color: #d8e2dc;
  font-size: 4rem;
  margin-bottom: 2rem; /* Add some space below the heading */
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(8rem, 1fr)
  ); /* Responsive grid layout */
  gap: 1rem; /* Add gap between grid items */
  position: relative;
  margin: 0 auto; /* Center the grid */
}

.box {
  background-color: #feffbe;
  color: #a7392d;
  font-size: 5rem;
  font-weight: 500;
  height: 8rem;
  width: 8rem;
  margin: 0;
  border: 0.1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  transition: transform 0.5s; /* Moved transition property here */
}

.box:hover {
  transform: scale(1.1);
}

.reset {
  background-color: black;
  color: #d8e2dc;
  font-weight: 600;
  height: 2rem;
  width: 6rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s; /* Added transition for hover effect */
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); /* Center the button horizontally */
}

.reset:hover {
  background-color: #d8e2dc;
  color: black;
}

.left-content {
  max-width: 25rem; /* Limit the width for smaller screens */
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%); /* Center the content vertically */
}

.left-content h1 {
  color: #d8e2dc;
  font-weight: bold;
  margin-bottom: 1rem; /* Add space between heading and paragraphs */
}

.left-content p {
  margin-bottom: 1rem; /* Add space between paragraphs */
}

.left-content img {
  width: 100%; /* Make the image responsive */
  max-width: 12rem; /* Limit the maximum width */
}

.winmsg {
  display: none; /* Hide win message by default */
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.7rem;
  color: #ffffc7;
}

.show {
  display: block; /* Show win message when needed */
}
