* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #548687;
  font-size: 16px;
  position: relative;
}
.game {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 2rem;
  padding: 1rem;
}
.game h1 {
  color: #d8e2dc;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
}

.container {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(5rem, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  position: relative;
  margin: 1rem;
  width: 27.5%;
  height: 30%;
}

.box {
  background-color: #feffbe;
  color: #a7392d;
  font-size: 2.5rem;
  font-weight: 500;
  height: 7rem;
  width: 7rem;
  margin: 0;
  border: 0.1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.box:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.reset {
  background-color: black;
  border: 0;
  color: #d8e2dc;
  font-weight: 600;
  height: 2rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem;
}

.reset:hover {
  background-color: #d8e2dc;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.left-content h1 {
  color: #d8e2dc;
  font-weight: 1000;
}
.left-content {
  width: 100%;
  max-width: 25rem;
  position: relative;
  top: 10rem;
  padding: 1rem;
}
.left-content p {
  line-height: 1.4rem;
  font-weight: 600;
  font-style: bold;
}
.left-content img {
  width: 100%;
  max-width: 12rem;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: block;
}
#msg {
  color: #ffffc7;
  font-size: 1.7rem;
  position: relative;
  bottom: 1rem;
  text-align: center;
}
.hide {
  display: none;
}
#msg {
  font-size: 2rem;
}
#winAnimation {
  position: relative;
  right: 2rem;
  bottom: 20%;
  right: 10%;
}
@media (max-width: 768px) {
  .box {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
  }
  .game h1 {
    font-size: 2rem;
  }
  .reset {
    height: 1.5rem;
    width: 5rem;
  }
  #msg {
    font-size: 1.5rem;
  }
}
